<div class="random-gif">
    <p>
        <img class="one" ng-src='{{main.randomImage.fixed_height_downsampled_url}}' />
        <div id="favorites">
            <label for="Comment:">Comment:</label>
            <input type="text" id="comment" name="comment" ng-model="main.comment" />
            <button ng-click="main.favoriteGiphy(main.comment, main.fixed_height_downsampled_url)">Click to Save to Favorites</button>
        </div>
    </p>
</div>

<div class="get-random">
    <button ng-click="main.getGiphy()">Click Here for Random Giphy</button>
</div>

<div class="search-gif">
    <input type="text" ng-model="main.searched" />
    <button class="search-button" ng-click="main.searchGiphy()">Search for Giphy</button>
</div>

<div class="many-gif">
    <img class="many" ng-src="{{image.images.fixed_height.url}}" ng-repeat="image in main.searchImage track by $index" />
</div>
