<div class="random-gif">
    <p>
        <img class="one" ng-src='{{main.randomImage.fixed_height_downsampled_url}}' />
        <div id="favorites">
            <label for="Comment:">Comment:</label>
            <input type="text" id="comment" name="comment" ng-model="main.comment" />
            <button ng-click="main.favoriteGiphy(main.comment, main.randomImage.fixed_height_downsampled_url)">Click to Save to Favorites</button>
        </div>
    </p>
</div>

<div class="get-random">
    <button ng-click="main.getGiphy()">Click Here for New Random Giphy</button>
</div>

<div class="search-gif">
    <input type="text" ng-model="main.searched" />
    <button class="search-button" ng-click="main.searchGiphy()">Search for Giphy</button>
</div>

<div class="many-gif row">
    <div class="col-md-3" ng-repeat="image in main.searchImage">
        <img class="many" ng-src="{{image.images.fixed_height.url}}" />
        <input type="text" id="comment" name="comment" ng-model="main.comment2" />
        <button ng-click="main.favoriteGiphy(main.comment2, image.images.fixed_height.url)">Click to Save to Favorites</button>
    </div>
</div>
