body {
    background-color: #729688;
    width: 100%;
    font-family: 'Inconsolata', monospace;
}
h1{
  text-align: center;
  font-size: 50px;
}
button{
  display: inline-block;
  text-align: center;
  background-color: #e7e7e7; color: black;
  font-size: 15px;
  margin-top: 2px;
}
div{
  margin:auto;
  text-align: center;
}
input{
  width: 200px;
  height: 25px;
}

.one{
  box-shadow: 10px 10px 5px #888888;
}

.many{
  display: grid;
  text-align: center;
}
